<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cpp.mybatis.mapper.StudentMapper">

    <resultMap type="com.cpp.mybatis.model.Students" id="students">
        <result column="class" property="className"/>
        <result column="sno" property="sno"/>
        <result column="sname" property="sname"/>
        <result column="ssex" property="ssex"/>
        <result column="sbirthday" property="sbirthday"/>
    </resultMap>

    <select id="listStudent" resultMap="students">
        select * from students
    </select>

    <select id="findOne" resultMap="students" useCache="true">
        select * from students where sno = #{sno}
    </select>

</mapper>